<mat-toolbar color="primary">
    <span>
      <a routerLink="/">Auto Ads</a>
    </span>
    <span class="spacer"></span>
    <ul>

      <ng-container *ngIf="isLogged">
        <li>
          <a mat-button routerLink="/ads/create" routerLinkActive="mat-accent">New Ad</a>
        </li>
        <li>
          <a mat-button routerLink="/profile" routerLinkActive="mat-accent">{{currentUser?.fullName}}'s Profile</a>
        </li>
        <li>
          <button mat-button (click)="handleLogout()">Logout</button>
        </li>
      </ng-container>
      
      <ng-container *ngIf="!isLogged">
        <li>
          <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li>
          <a mat-button routerLink="/register" routerLinkActive="mat-accent">Register</a>
        </li>
      </ng-container>
    
    </ul>
</mat-toolbar>
  