<mat-spinner *ngIf="!ad"></mat-spinner>

<div *ngIf="ad">
    <ng-container *ngIf="!isInEditMode">

        <section class="section section-bg" id="call-to-action">
            <img src="{{ad.img}}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="cta-content">
                            <br>
                            <br>
                            <h2><em>{{ad.title}}</em></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section" id="trainers">
            <div class="container">
                
                <div class="row" id="tabs">
                  <div class="col-lg-4">
                    <ul>
                      <li><a (click)="revealSpecs()"><i class="fa fa-cog"></i> Vehicle Specs</a></li>
                      <li><a (click)="revealDescription()"><i class="fa fa-info-circle"></i> Vehicle Description</a></li>
                      <ng-container *ngIf="isOwner() && (isLoggedIn$ | async)">
                        <mat-card-actions>
                            <button mat-raised-button color="accent" (click)="enterEditMode()">EDIT</button>
                            <button mat-raised-button color="warn" (click)="deleteAd()">DELETE</button>
                        </mat-card-actions>
                    </ng-container> 
                    </ul>
                  </div>
                  <div class="col-lg-8" >
                    <section class='tabs-content' style="width: 100%;">
                      <article id='tabs-1' *ngIf="!isShownSpecs">
                        <h4>Vehicle Specs</h4>
    
                        <div class="row">
    
                           <div class="col-sm-6">
                                <label>First registration</label>
                           
                                <p>{{ad.year}}</p>
                           </div>
    
                           <div class="col-sm-6">
                                <label>Mileage</label>
                           
                                <p>{{ad.mileage}}</p>
                           </div>
    
                           <div class="col-sm-6">
                                <label>Engine</label>
                           
                                <p>{{ad.engine}}</p>
                           </div>
    
                           <div class="col-sm-6">
                                <label>Cubature</label>
                           
                                <p>{{ad.cubature}} cc</p>
                           </div>

                           <div class="col-sm-6">
                                <label>Transmission</label>
                           
                                <p>{{ad.transmission}}</p>
                           </div>
    
                           <div class="col-sm-6">
                                <label>Color</label>
                           
                                <p>{{ad.color}}</p>
                           </div>
                        </div>
                      </article>
                      <article id='tabs-2' *ngIf="isShownDescription">
                        <h4>Vehicle Description</h4>
                        
                        <p>{{ad.description}}</p> 
                       </article>
        
                    </section>
                  </div>
                </div>
            </div>
        </section>

         
    </ng-container>

    <ng-container *ngIf="isInEditMode">
        <div>

            <h1>Edit Ad</h1>

            <form #editAdForm="ngForm" (ngSubmit)="editAd(editAdForm)">
        
                <!-- <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error> -->
        
        <div class="left" class="row">
            <div class="col-md-6 col-sm-12">
                
                <mat-form-field appearance="fill">
                    <mat-label>Title</mat-label>
                    <input #title="ngModel" name="title" type="text" ngModel matInput required minlength="5">
                    <mat-error *ngIf="title.errors?.required" >
                        Title is required!
                    </mat-error>
                    <mat-error *ngIf="title.errors?.minlength" >
                        Title must be atleast 5 characters long!
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>Image Url</mat-label>
                    <input #img="ngModel" name="img" type="text" ngModel matInput required pattern="(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png)">
                    <mat-error *ngIf="img.errors?.required" >
                        Image url is required!
                    </mat-error>
                    <mat-error *ngIf="img.errors?.pattern" >
                        The image url must be in a 'https://example.png / jpg / gif' format!
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Year</mat-label>
                    <input #year="ngModel" name="year" type="text" ngModel matInput required >
                    <mat-error *ngIf="year.errors?.required" >
                        Year is required!
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Engine</mat-label>
                    <input #engine="ngModel" name="engine" type="text" ngModel matInput required>
                    <mat-error *ngIf="engine.errors?.required" >
                        Engine is required!
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Transmission</mat-label>
                    <input #transmission="ngModel" name="transmission" type="text" ngModel matInput required>
                    <mat-error *ngIf="transmission.errors?.required" >
                        Transmission is required!
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Place</mat-label>
                    <input #place="ngModel" name="place" type="text" ngModel matInput required>
                    <mat-error *ngIf="place.errors?.required" >
                        Place is required!
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Cubature</mat-label>
                    <input #cubature="ngModel" name="cubature" type="text" ngModel matInput required>
                    <mat-error *ngIf="cubature.errors?.required" >
                        Cubature is required!
                    </mat-error>
                </mat-form-field>
        </div>
    </div>

    <div class="right">
                <mat-form-field appearance="fill">
                    <mat-label>Mileage</mat-label>
                    <input #mileage="ngModel" name="mileage" type="text" ngModel matInput required>
                    <mat-error *ngIf="mileage.errors?.required" >
                        Mileage is required!
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Category</mat-label>
                    <input #category="ngModel" name="category" type="text" ngModel matInput required>
                    <mat-error *ngIf="category.errors?.required" >
                        Category is required!
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Eurostandard</mat-label>
                    <input #eurostandard="ngModel" name="eurostandard" type="text" ngModel matInput required>
                    <mat-error *ngIf="eurostandard.errors?.required" >
                        Eurostandard is required!
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Color</mat-label>
                    <input #color="ngModel" name="color" type="text" ngModel matInput required>
                    <mat-error *ngIf="color.errors?.required" >
                        Color is required!
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <input #description="ngModel" name="description" type="text" ngModel matInput required minlength="10">
                    <mat-error *ngIf="description.errors?.required" >
                        Description is required!
                    </mat-error>
                    <mat-error *ngIf="description.errors?.minlength" >
                        Description must be atleast 10 characters long!
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Price</mat-label>
                    <input #price="ngModel" name="price" type="text" ngModel matInput required>
                    <mat-error *ngIf="price.errors?.required" >
                        Price is required!
                    </mat-error>
                </mat-form-field>
            
        
                <mat-card-actions>
                    <button mat-raised-button color="accent" class="submit-btn" [disabled]="editAdForm.invalid">Submit</button>
                </mat-card-actions>
            </div>
            </form>
        </div>
    </ng-container>
    
</div>

