/* mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}

mat-form-field {
    width: 100%;
  }
  
mat-card {
      margin: auto;
      max-width: 250px;
      padding: 10px;
      text-align: center;
  } */
