<mat-card>
    <mat-card-title>
        Add New Ad
    </mat-card-title>

    <form  [formGroup]="createFormGroup" (ngSubmit)="handleCreate()">

        <!-- <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error> -->

        <div class="left" class="row">
            <div class="col-md-6 col-sm-12">
            <mat-form-field appearance="fill" >
                <mat-label>Title</mat-label>
                <input formControlName="title" type="text" matInput>
                <mat-error *ngIf="createFormGroup.controls['title'].errors?.required"  >
                    Title is required!
                </mat-error>
                <mat-error *ngIf="createFormGroup.controls['title'].errors?.required" >
                    Title must be atleast 5 characters long!
                </mat-error>
            </mat-form-field>
            
            <!-- <mat-form-field appearance="fill">
                <mat-label>Image Url</mat-label>
                <input #img="ngModel" name="img" type="text" ngModel matInput required pattern="(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png)">
                <mat-error *ngIf="img.errors?.required" >
                    Image url is required!
                </mat-error>
                <mat-error *ngIf="img.errors?.pattern" >
                    The image url must be in a 'https://example.png / jpg / gif' format!
                </mat-error>
            </mat-form-field> -->

            <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
            <input type="file" #filePicker (change)="onImagePicked($event)">
    
            <mat-form-field appearance="fill">
                <mat-label>Year</mat-label>
                <input formControlName="year" type="text" matInput>
                <mat-error *ngIf="createFormGroup.controls['year'].errors?.required" >
                    Year is required!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Engine</mat-label>
                <mat-select formControlName="engine" type="text" matInput>
                    <mat-option *ngFor="let engine of engines" [value]="engine.name">
                      {{engine.name}}
                    </mat-option>
                </mat-select>
                <!-- <input #engine="ngModel" name="engine" type="text" ngModel matInput required> -->
                <mat-error *ngIf="createFormGroup.controls['engine'].errors?.required" >
                    Engine is required!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Transmission</mat-label>
                <mat-select formControlName="transmission" type="text" matInput>
                    <mat-option *ngFor="let transmission of transmissions" [value]="transmission.name">
                      {{transmission.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="createFormGroup.controls['transmission'].errors?.required" >
                    Transmission is required!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Place</mat-label>
                <input formControlName="place" type="text" matInput>
                <mat-error *ngIf="createFormGroup.controls['place'].errors?.required" >
                    Place is required!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Cubature</mat-label>
                <input formControlName="cubature" type="text" matInput>
                <mat-error *ngIf="createFormGroup.controls['cubature'].errors?.required" >
                    Cubature is required!
                </mat-error>
            </mat-form-field>
            </div>
        </div>

        

        <div class="right">
            <mat-form-field appearance="fill">
                <mat-label>Mileage</mat-label>
                <input formControlName="mileage" type="text" matInput>
                <mat-error *ngIf="createFormGroup.controls['mileage'].errors?.required" >
                    Mileage is required!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category" type="text" matInput>
                    <mat-option *ngFor="let category of categories" [value]="category.name">
                      {{category.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="createFormGroup.controls['category'].errors?.required" >
                    Category is required!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Eurostandard</mat-label>
                <mat-select formControlName="eurostandard" type="text" matInput>
                    <mat-option *ngFor="let eurostandard of eurostandards" [value]="eurostandard.name">
                      {{eurostandard.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="createFormGroup.controls['eurostandard'].errors?.required" >
                    Eurostandard is required!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Color</mat-label>
                <input formControlName="color" type="text" matInput>
                <mat-error *ngIf="createFormGroup.controls['color'].errors?.required" >
                    Color is required!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input formControlName="description" type="text" matInput>
                <mat-error *ngIf="createFormGroup.controls['description'].errors?.required" >
                    Description is required!
                </mat-error>
                <mat-error *ngIf="createFormGroup.controls['description'].errors?.minlength" >
                    Description must be atleast 10 characters long!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input formControlName="price" type="text" matInput>
                <mat-error *ngIf="createFormGroup.controls['price'].errors?.required" >
                    Price is required!
                </mat-error>
            </mat-form-field>
            
            <mat-card-actions>
                <button mat-raised-button color="accent" [disabled]="createFormGroup.invalid">Submit</button>
            </mat-card-actions>
        </div>

    </form>
</mat-card>