<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>

    <form class="example-form">

      <mat-card-content>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" #email>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" #password>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block" (click)="authService.SignUp(email.value, password.value)">Sign Up</button>

      <button mat-stroked-button color="accent" class="btn-block" (click)="authService.SignInAnonymously()">Sign Up Anonymously</button>

      <button mat-stroked-button color="accent" class="btn-block" (click)="authService.GoogleAuth()">Sign Up With Google</button>

    </form>
  </mat-card>
</div>
